<!DOCTYPE HTML>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131394969-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-131394969-1');
		</script>
		<meta charset="UTF-8">
		<meta name="keywords" content="周壮,个人博客,zz,withzz" />
		<meta name="description" content="周壮的博客" />
		<title>乐园</title>
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
 		<link rel="icon" href="img/favicon.ico" type="image/x-icon">
		<!--引入wangEditor.css-->
		 <link rel="stylesheet" type="text/css" href="js/dist/css/wangEditor.min.css">
		 <link href="http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap-theme.min.css" rel="stylesheet">
		 <link href="http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
		 
		<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
		 <!--这里引用jquery和wangEditor.js-->
		<script type="text/javascript" src="js/dist/js/wangEditor.min.js"></script>
		<script type="text/javascript" src="http://cdn.staticfile.org/qiniu-js-sdk/1.0.14-beta/qiniu.min.js"></script>
		<script type="text/javascript" src="http://cdn.staticfile.org/plupload/2.1.5/plupload.full.min.js"></script>
		<script type="text/javascript" src="http://qtestbucket.qiniudn.com/demo/CryptoJS.js"></script>
		<script type="text/javascript" src="js/uptoken.js"></script>
		<!--vue 和 element-->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<!-- axios-->
		<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
	</head>
	<body>
	<div id="app">
		<div id="calendar"></div>
		<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
			<a name="top"/>
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
					 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
					 <span class="icon-bar"></span>
					 <span class="icon-bar"></span></button> <a class="navbar-brand" href="http://withzz.cn">主页</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							 <a href="#">图片</a>
						</li>
						<li>
							 <a href="#">文本</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">菜单<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="#">不知道</a>
								</li>
								<li>
									 <a href="#">另一个不知道</a>
								</li>
								<li>
									 <a href="#">有些别的事情不知道</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="#">奇怪的链接</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="#">又一个奇怪的链接</a>
								</li>
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" />
						</div> <button type="submit" class="btn btn-default">寻找</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li>
							 <a href="paradise.xhtml">画画</a>
						</li>
						<li class="dropdown">
					</ul>
				</div>
			</nav>
			<div>
				<el-row>
				  <el-col :span="16" v-for="words in wordsList" style="padding-bottom: 10px">
					<el-card :body-style="{ padding: '0px' }">
						<el-row>
						  <div style="padding: 14px;" v-html='words.body'>
						  </div>
						</el-row>
						<el-row>
							<div style="text-align:right;padding:10px">——<a><i>游客朋友<i> </a>于 {{words.title}}</div>
						</el-row>
					</el-card>
				  </el-col>
				</el-row>
			</div>
			
		</div>
	</div>
	
			<!--<button id="btn1">发布</button>-->

	<div id="dg" style="z-index: 9999; position: fixed ! important; right: 0px; top: 50%;">  
		<table width="100%" style="position: fixed; width:160px; right: 0px; top: 30%;">  
			<tr>
				<td>
				<a href="#top">回到顶部</button>
				</td>
			</tr>
			<tr>
				<td>
				<a href="#myeditor" @click="showInput">有话要说</button>
				</td>
			</tr>
			<tr>
				<td>
				<a href="#myeditor">————————</button>
				</td>
			</tr>
			<tr v-if="linkMap.first">
				<td>
				<a href="#myeditor" @click="getList('first')">现在</button>
				</td>
			</tr>
			<tr v-if="linkMap.prev">
				<td>
				<a href="#myeditor" @click="getList('prev')">最近</button>
				</td>
			</tr>
			<tr v-if="linkMap.next">
				<td>
				<a href="#myeditor" @click="getList('next')">从前</button>
				</td>
			</tr>
			<tr v-if="linkMap.last">
				<td>
				<a href="#myeditor" @click="getList('last')">开始</button>
				</td>
			</tr>
			
		</table>  
	</div>
		<a name="myeditor"/>
		<el-col :span="16" style="text-align: center; padding: 15px;" v-show="dialogFormVisible">
			<div class="row clearfix">
					<div id="div1" style="height:400px">
					</div>
			</div>
			<div v-if="dialogFormVisible">
				<el-button @click="dialogFormVisible = false">取 消</el-button>
				<el-button type="primary" @click="publish">发 布</el-button>
			</div>	
		</el-col>
		
	</div>
	</body>
	<script src="js/vue/paradise.js"></script>
</html>
