@charset "utf-8";
/* CSS Document */

*{ margin: 0; padding: 0; }

a:hover{color:#C39D60; cursor:pointer;}
li { line-height:normal; }
table { border-collapse: collapse; border-spacing: 0; }
textarea { resize: none;}
*,*:before,*:after {  -webkit-box-sizing: border-box; -moz-box-sizing: border-box;  box-sizing: border-box;}
input[placeholder], [placeholder], *[placeholder] {color:#333 !important;} 
::-webkit-input-placeholder{color:#989898}
:-moz-placeholder{color:#989898}
::-moz-placeholder{color:#989898}
:-ms-input-placeholder{color:#989898}

.pz_top{ float:left; width:100%; height:92px; min-width:1200px;}




@media screen and (max-width:767px) {
.pc_show{ display:none;}
.phone_show{ display:block;}
}


/*top*/
.c_0100_1{ position: fixed; width:100%; height:92px; top:0; left:0; z-index:99999; background:#fff; min-width:1200px;
-moz-transition: all 0.2s ease-out 0s; 
-o-transition: all 0.2s ease-out 0s; 
transition: all 0.2s ease-out 0s;
}
.c_0100_1.active{  border-bottom:#f1f1f1 solid 1px;}
.c_1200_1{ float:left; width:100%; padding:0 50px;}
.logo{ float:left; width:283px; height:42px; margin:25px 0 0 0;}
.c_1200_1 .r_menu{ float:right; padding:15px 0 0 0; line-height:0;}
.t_search{ /*float:left; width:100%;*/ overflow:hidden;}
.t_search .search_box{ float:right; width:168px; height:24px; background-color:#efefef; overflow:hidden;
-moz-border-radius:12px; 
webkit-border-radius:12px; 
-khtml-border-radius:12px;
border-radius:12px;
}
.t_search .search_box .butse{ float:left; width:30px; height:24px; border:0;}
.t_search .search_box .r_138{ float:left; width:138px; height:24px; padding:0 10px; background:0; border:0; color:#9fa0a0; font-size:14px; line-height:24px; outline:none;}
.d_menu{ /*float:left; width:100%;*/ overflow:hidden; padding:12px 0 0 0;}

/*导航*/
.pc_menu{ float:left; margin-right:-22px;}
.pc_menu ul{ float:left}
.pc_menu .nli{ float:left; position:relative; z-index:99;}
.pc_menu .nli span a{ float:left; width:102px; height:31px; color:#727171; font-size:15px; line-height:31px; text-align:center; }
.pc_menu .nli:hover span a,
.pc_menu .nli.on span a{ background:url(Uploads/images-01/top3zz.png) center no-repeat; color:#fff;}
@media screen and (max-width:1284px) {
.pc_menu .nli span a{  width:92px; background-size:100% auto;}
.pc_menu .nli.on span a{ background-size:100% auto;}	
}





























